<div id="registration-component" class="registration-component">

    <h1>Registration</h1>

    <label for="reg-login-box">Login: </label>
    <input class="reg-login-box" placeholder=" " [(ngModel)]="newAccount!.login" required>

    <label for="reg-email-box">Email: </label>
    <input class="reg-email-box" placeholder=" " [(ngModel)]="newAccount!.email" required>

    <label for="reg-password-box">Password: </label>
    <input class="reg-password-box" placeholder=" " [(ngModel)]="newAccount!.password" required>

    <div class="reg-buttons">
        <button (click)="registerNewAccount()">Registration</button>
        <button (click)="clearForm()">Clear</button>
    </div>
</div>