<div class="teams-desk">
    <h1>
        List of teams
    </h1>

    <div class="shade" *ngIf="isShaded">
        <div class="add-players-panel">
            <h3>Add players to {{selectedTeam!.name}}</h3>

            <ul class="members-list">

                <li *ngFor="let player of freePlayers">
                    <a class="team-member" (click)="addPlayerToTeam(player, selectedTeam)">
                        <span class="badge">{{player.id}}</span> {{player.login}}
                    </a>
                </li>

            </ul>
        </div>
    </div>

    <div class="team-blocks-table">

        <form [formGroup]="myForm" class="team-block" novalidate>
            <h3>New team</h3>

            <button (click)="addTeam()" [disabled]="myForm.invalid">
                Create team
            </button>

            <label for="team-name-input">Team name</label>
            <input class="team-name-input" formControlName="teamName">
        </form>

        <div class="team-block" *ngFor="let team of teams">
            <h3>
                {{team.name}}
            </h3>

            <button *ngIf="isAdmin" (click)="showAddPlayersPanel(team)"> Add new player</button>
            <ul class="members-list">

                <li *ngFor="let player of team.members">
                    <a class="team-member">
                        <span class="badge">{{player.id}}</span> {{player.login}}
                    </a>
                    <button class="delete" *ngIf="isAdmin" (click)="removePlayerFromTeam(player, team)">X</button>
                </li>

            </ul>
        </div>

    </div>

</div>