<div class="teams-desk">
    <h1>
        List of teams
    </h1>

    <div class="team-blocks-table">

        <div class="team-block">
            <h3>
                NaVi 2011
            </h3>

            <button>Add new player</button>
            <ul class="members-list">
                
                <li>
                    <a class="team-member">
                        <span class="badge">3</span> Dendi
                    </a>
                    <button class="delete">X</button>
                </li>

                <li>
                    <a class="team-member">
                        <span class="badge">4</span> XBOCT
                    </a>
                    <button class="delete">X</button>
                </li>

                <li>
                    <a class="team-member">
                        <span class="badge">5</span> Lost
                    </a>
                    <button class="delete">X</button>
                </li>
            </ul>
        </div>

    </div>

</div>