<div id="registration-component" class="registration-component">

    <h1>Registration</h1>

    <form [formGroup]="myForm" novalidate (ngSubmit)="registerNewAccount()">
        <div class="form-group">
            <label for="reg-login-box">Login: </label>
            <input class="form-control" name="login" placeholder=" " formControlName="userLogin">

            <div class="errorMessage"
                *ngIf="myForm.controls['userLogin'].invalid && myForm.controls['userLogin'].touched">
                Invalid login
            </div>
        </div>

        <div class="form-group">
            <label for="reg-email-box">Email: </label>
            <input class="reg-email-box" placeholder=" " formControlName="userEmail">

            <div class="errorMessage"
                *ngIf="myForm.controls['userEmail'].invalid && myForm.controls['userEmail'].touched">
                Invalid email
            </div>
        </div>

        <div class="form-group">
            <label for="reg-password-box">Password: </label>
            <input class="reg-password-box" placeholder=" " formControlName="userPassword">

            <div class="errorMessage"
                *ngIf="myForm.controls['userPassword'].invalid && myForm.controls['userPassword'].touched">
                Invalid password
            </div>
        </div>

    </form>

    <div class="reg-buttons">
        <button (click)="registerNewAccount()" [disabled]="myForm.invalid">Registration</button>
        <button (click)="clearForm()">Clear</button>
    </div>
</div>